<a href="https://colab.research.google.com/github/MaskeyRiddhi/Bigdata/blob/main/WorkshopOne.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Standard Input and Output

In [ ]:
"""To ask a value from the end user and store it to reuse later, first take a variable and store the value.
The "input" keyword helps to take value from the end user """
first_name = input("Please Enter Your First Name: ")

Please Enter Your First Name: Riddhi

In [ ]:
"""To show the output python has a keyword "print" which prints the output"""
print(first_name)

Riddhi

Control Structure

In [ ]:
"""Here we are asking user to enter a value and checks if its negative, non-negative or positive
by the control structure"""
value = int(input("Please Enter a Number: ")) #input keyword always takes any value as a string. Thus, we use int() function
#it is called casting. It converts a value to different data types
if value < 0:
  print('The number is negative')
elif value == 0:
  print('The number is non-negative')
else:
  print('The number is positive')

Please Enter a Number: 8
The number is positive

Loops

In [ ]:
"""Find the sum of all integers from 1 to 10 using while loop"""
total = 0
counter = 1
while counter <= 10: #stopping condition
  total = total + counter #sum
  counter += 1 #increament
print(total)

55

In [ ]:
"""Find the sum of all integers from 1 to 10 using for loop"""
total = 0
for counter in range(1, 11, 1): #initialize, stopping condition, increament.
  total = total+ counter
print(total)

55

List Modification

In [ ]:
"""A list can be created using a comma-separated sequence within square brackets"""
first_list = [1, 2, 3, 8]

In [ ]:
"""In a list, the individual items can be accessed by subscript/index:"""
print("First value of the list is ", first_list[0])
print("Last value of the list is ", first_list[-1])

First value of the list is  1
Last value of the list is  8

In [ ]:
"""The elements of a list can also be accessed by traversing the list using the iterator mechanism:"""
for values in first_list:
  print(values)

1
2
3
8

Other list operations

In [ ]:
#append
first_list.append(10)
print("After adding another element in the list, the list is ", first_list)

#modify
first_list[2] = 5
print("After modifying an element in the list, the list is ", first_list)

#insert: elements can be inserted in any positon/index
first_list.insert(2, 12)
print("After inserting an element in the list in the third position, the list is ", first_list)

After adding another element in the list, the list is  [1, 2, 3, 8, 10]
After modifying an element in the list, the list is  [1, 2, 5, 8, 10]
After inserting an element in the list in the third position, the list is  [1, 2, 12, 5, 8, 10]

Dictionary Modification

In [ ]:
"""There are lot of ways to access elements of the dictionary. However, we will parctice the most common one.
The traversal using the iterator mechanism (for statement) is made over the keys in a dictionary"""
zipCode = {'London':290, 'Leeds':578, 'Wolverhampton':911}
for key in zipCode:
  print(key, '= ', zipCode[key])

London =  290
Leeds =  578
Wolverhampton =  911

In [ ]:
"""To explicitely find the list of keys or list value we can use the following"""
key_list = zipCode.keys()
value_list = zipCode.values()
print(key_list)
print(value_list)

dict_keys(['London', 'Leeds', 'Wolverhampton'])
dict_values([290, 578, 911])

In [ ]:
"""To change the value of a corresponding key we can do the following"""
zipCode['London'] = 666
for key in zipCode:
  print(key, '= ', zipCode[key])

London =  666
Leeds =  578
Wolverhampton =  911

In [ ]:
"""Using the same technique we can add another entry. However, the key must be unique.
Duplicate key name will modify the value only"""
zipCode['Birmingham'] = 111
for key in zipCode:
  print(key, '= ', zipCode[key])

London =  666
Leeds =  578
Wolverhampton =  911
Birmingham =  111

Functions

In [ ]:
def oddEven(num):
  if num%2 == 0:
    print('The number is even')
  else:
    print('The number is odd')
  return
num = int(input("Please Enter a Number: "))
oddEven(num)

Please Enter a Number: 25
The number is odd

# Exercise on Loops

*   Display Fibonacci series up to 10 terms.

In [21]:
terms = 10
n1,n2=0,1
count =0
# check if the number of terms is valid
if terms <= 0:
   print("Please enter a positive integer")
# if there is only one term, return n1
elif terms == 1:
   print("Fibonacci sequence upto",terms,":")
   print(n1)
# generate fibonacci sequence
else:
   print("Fibonacci sequence:")
   while count < terms:
       print(n1)
       nth = n1 + n2
       # update values
       n1 = n2
       n2 = nth
       count += 1

Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34

Find the factorial of a given number. Ask the user to provide the number.

In [23]:
# To take input from the user
num = int(input("Enter a number: "))

factorial = 1

# check if the number is negative, positive or zero
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

Enter a number: 5
The factorial of 5 is 120

Write a program to print a right angle triangle using the for loop.

In [25]:
# Number of rows for the triangle
rows = 7

# Loop through each row
for i in range(1, rows + 1):
    # Print '*' i times
    for j in range(i):
        print('*', end=' ')
    # Move to the next line after each row
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

# Exercise on Functions

Make a simple calculator that can add, subtract, multiply and divide two numbers using function.

In [36]:
def add(a, b):
    return a + b

def subtract(a, b):
    return a - b

def multiply(a, b):
    return a * b

def divide(a, b):
    if b == 0:
        return "Error! Division by zero."
    return a / b

print("Select Operation")
print("1. Add")
print("2. Subtract")
print("3. Multiply")
print("4. Divide")

op = input("Select which operation to perform (1/2/3/4): ")
a = float(input("Enter First number: "))
b = float(input("Enter Second number: "))

if op == "1":
    print(a, "+", b, "=", add(a, b))
elif op == "2":
    print(a, "-", b, "=", subtract(a, b))
elif op == "3":
    print(a, "*", b, "=", multiply(a, b))
elif op == "4":
    print(a, "/", b, "=", divide(a, b))
else:
    print("Invalid input! Please select a valid operation.")

Select Operation
1. Add
2. Subtract
3. Multiply
4. Divide
Select which operation to perform (1/2/3/4): 3
Enter First number: 2.5
Enter Second number: 0.5
2.5 * 0.5 = 1.25

# Exercise on List and Dictionaries

*   Remove the first duplicate element of a list

In [41]:
List= [1,5,6,8,6,5,2,8,10,4]
print("Original List\n", List)
unique_list = list(set(List))
print("Modified List\n", unique_list)

Original List
 [1, 5, 6, 8, 6, 5, 2, 8, 10, 4]
Modified List
 [1, 2, 4, 5, 6, 8, 10]

*   Write a Python program to create a new dictionary by extracting the mentioned keys from the below dictionary.
sample_dict = { "name": "Anderson", "age": 35, "salary": 5000, "city": "London"}
keys = ["name", "salary"]

In [43]:
sample_dict = { "name": "Anderson", "age": 35, "salary": 5000, "city": "London"}
keys = ["name", "salary"]
new_dic = {k: sample_dict[k] for k in keys}
print(new_dic)

{'name': 'Anderson', 'salary': 5000}

*   Write a Python program to convert two lists into a dictionary in a way that item from list_one is the key and item from list_two is the value.
list_one = ['one', 'two', 'three']
list_two = [1, 2, 3]

In [44]:
list_one = ['one', 'two', 'three']
list_two = [1, 2, 3]
dic = dict(zip(list_one, list_two))
print(dic)

{'one': 1, 'two': 2, 'three': 3}